@import "@/themes";
@import "@/mixins";
@import "@/variables";

.button {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  cursor: pointer;
  border: 2px transparent solid;
  color: $text-default;
  border-radius: 5px;
  box-sizing: border-box;
  @include themify($themes) {
    background-color: themed('buttonBackgroundDefault');
  }

  &:hover {
    background-color: $btn-cancel-hover;
  }

  &:focus {
    background-color: $btn-cancel;
    border: 2px $btn-cancel-border solid;
  }
}

.buttonText {
  padding: 0 5px;
}

.action {
  @include themify($themes) {
    background-color: themed('buttonBackgroundAction');
  }

  &:hover {
    background-color: $btn-action-hover;
  }

  &:focus {
    background-color: $btn-action;
    border: 2px $btn-action-border solid;
  }
}

.disabled {
  cursor: not-allowed;
  @include themify($themes) {
    background-color: themed('buttonBackgroundDisabled');
    color: themed('buttonTextDisabled');
  }

  &:focus {
    border: 2px $btn-disabled solid;
  }
}

.small {
  padding: 0 6px;
  height: 28px;
}

.medium {
  padding: 0 18px;
  height: 36px;
}

.icon {
  position: relative;
  height: 12px;
  width: 12px;
}

.marginRight {
  margin-right: 8px;

  @media (max-width: $mobile) {
    margin-bottom: 8px;
  }
}

.mobileFull {
  @media (max-width: $mobile) {
    width: 100%;
  }
}

.mobileHide {
  @media (max-width: $mobile) {
    display: none;
  }
}
