@import "@/variables";

.menu {
  display: flex;
  flex-direction: row;
}

.menuItem {
  margin-right: 12px;
  color: $text-minor;
}

.link {
  text-decoration: none;
  color: $text-minor;

  &:hover {
    color: $red;
  }
}
