@import "@/variables";

.settingsForm {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  max-width: 474px;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 16px;

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}
