@import "@/themes";
@import "@/mixins";
@import "@/variables";


.emptySettings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.img {
  width: 124px;
  height: 124px;
  margin-bottom: 32px;

  path {
    @include themify($themes) {
      fill: themed('emptySettingsImgColor');
    }
  }
}

.text {
  margin-top: 0;
  margin-bottom: 24px;
  text-align: center;
  @include themify($themes) {
    color: themed('textColor');
  }
}

