@import "@/variables";

.icon {
  position: absolute;
  right: 0;
  cursor: pointer;

  @media (max-width: $mobile) {
    right: -35px;
    top: 15px;
  }

  @media (max-width: 400px) {
    display: none;
  }
}
