@import "variables";

@mixin wrapper {
  & {
    max-width: 855px;
    min-width: 320px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: $mobile) {
      max-width: 288px;
    }
  }

}
