$green: #00B341;
$red: #FF3333;
$orange: #FF9A00;

$btn-action: #FFCC00;
$btn-action-hover: #F2C200;
$btn-action-border: #B38F00;
$btn-cancel: #E6E6E6;
$btn-cancel-hover: #DBDBDB;
$btn-cancel-border: #B3B3B3;
$btn-disabled: #F2F2F2;
$btn-disabled-text: #7F7F7F;

$input-border: #D9D9D9;
$input-border-focused: #B3B3B3;

$footer-bg: #F0F2F3;

$text-minor: #7F8285;
$text-default: #000000;

$light: #FFFFFF;
$dark: #000000;
$light-yellow: #DD9;

$mobile: 600px;
